.DS_Store

_devart-docs/GoogleDevArt-Joseph_Gray.pdf

_devart-docs/congratulationsjosephyoumadeittothetop20shortlist.zip

_devart-docs/congratulationsjosephyoumadeittothetop20shortlist/Dev Art Quarter-Finalist Affidavit.doc

_devart-docs/congratulationsjosephyoumadeittothetop20shortlist/Dev Art Quarter-Finalist Release Form.doc

_devart-docs/congratulationsjosephyoumadeittothetop20shortlist/Dev Art Travel Release Form.doc
